@mixin fontSize($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: calc($sizeValue/10) * 1rem;
  }
  
  html {
    scroll-behavior: smooth;
    background: #ffffff;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  body {
    margin: 10px;
    opacity: 0;
    animation: fadeIn 5s forwards;

  }
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  figure {
    margin: 0;
  }
  .flex {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
    //   text-decoration: underline;
    }
  }
  h1,
  h2, button{
    @include fontSize(12);
    margin: 0;
    font-weight: 600;
  }
  p {
    @include fontSize(8);
    line-height: 1.3;
  }
  button {
    background: white;
    border: none;
    font-family: inherit;
  }
header {
    .siteTitle {
        position: fixed;
        width: 200px;
        text-align: center;
        padding: 10px 5px 2px;
        top: 0;
        background: white;
        left: calc(50% - 102px);
        z-index: 3;

    }
    .aboutLink {
        position: fixed;
        bottom: 0;
        background: white;
        z-index: 3;
        padding: 2px 5px 10px;
    }
    .CategoriesDropdown {
        position: fixed;
        z-index: 3;

        .DropdownToggle {
            position: fixed;
            bottom: 0px;
            width: 200px;
            padding-bottom: 10px;
            text-align: center;
            left: calc(50% - 106px);


        }
        .DropdownMenu {
            list-style: none;
            background: white;
            text-align: center;
            position: fixed;
            bottom: 18px;
            width: 200px;
            left: calc(50% - 106px);
            padding: 0;
            li {
                padding: 5px 0;
            }
        }

    }
    .shuffleButton {
        position: fixed;
        bottom: 0px;
        padding-bottom: 10px;
        right: 10px;
    }
}
//homepage 
.homepageMain {
    @extend .flex;
    justify-content: space-around;
    max-width: 1250px;
    margin:0 auto;
    .visible {
        display: block;
    }

    .repeated {
        padding-right: 10px;
        // width: 170px;
        min-height: 300px;
        margin: 2px;
        a {
            position: relative;
            display: block;
            div {
                width: fit-content !important;
                height: fit-content !important;
                position: absolute;
                video {
                    border: 1px solid black;
                    width: 50px !important;
                }
            }

            div:nth-child(n+16){
            //    display: none;
            z-index: -1;
            
            }
            @keyframes inbound {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        } 
    }
    .repeatedItem-1 {
         width: 180px;
         height: 300px;
        a {

            div:nth-child(1){
                top: 50px;
                left: 0;
            }
            div:nth-child(2){
                top: 50px;
                left: 50px;
            }
            div:nth-child(3){
                top: 53px;
                left: 100px;
            }
            div:nth-child(4){
                top: 70px;
                left: 150px;
            }
            div:nth-child(5){
                top: 105px;
                left: 155px;
            }
            div:nth-child(6){
                top: 120px;
                left: 125px;
            }
            div:nth-child(7){
                top: 165px;
                left: 70px;
            }
            div:nth-child(8){
                top: 165px;
                left: 15px;
            }
            div:nth-child(9){
                top: 80px;
                left: 0px;
            }
            div:nth-child(10){
                top: 115px;
                left: 0px;
            }
            div:nth-child(11){
                top: 145px;
                left: 0px;
            }
            div:nth-child(12){
                top: 180px;
                left: 0px;
            }
            div:nth-child(13){
                top: 215px;
                left: 0px;
            }
            div:nth-child(14){
                top: 245px;
                left: 0px;
            }
            div:nth-child(15){
                top: 275px;
                left: 0px;
            }
            div:nth-child(16){
                top: 275px;
                left: 40px;
                rotate: 30deg;
                video {
                    width: 100px !important;
                }
            }
            div:nth-child(17){
                top: 55px;
                left: 100px;
                rotate: -30deg;
                video {
                    width: 100px !important;
                }
            }
            div:nth-child(18){
                top: 200px;
                left: 50px;
                rotate: 0deg;
                video {
                    width: 140px !important;
                }
            }
            div:nth-child(19){
                top: 0px;
                left: 200px;
                rotate: 0deg;
                video {
                    width: 30px !important;
                }
            }
            div:nth-child(20){
                top: 50px;
                left: 100px;
                rotate: 0deg;
                video {
                    width: 80px !important;
                }
            }
            div:nth-child(21){
                top: -50px;
                left: -10px;
                rotate: 0deg;
                video {
                    width: 90px !important;
                }
            }
            div:nth-child(22){
                top: -50px;
                left: 100px;
                rotate: 14deg;
                video {
                    width: 70px !important;
                }
            }
            div:nth-child(23){
                top: 90px;
                left: -30px;
                rotate: -14deg;
                video {
                    width: 60px !important;
                }
            }
            div:nth-child(24){
                top: 180px;
                left: 280px;
                rotate: 180deg;
                video {
                    width: 150px !important;
                }
            }


        }

        video {
            width: 50px;
            height: fit-content;
        }

    }
    .repeatedItem-2 {
        width: 190px;
        
        a {

            div:nth-child(1){
                top: 60px;
                left: 0;
            }
            div:nth-child(2){
                top: 54px;
                left: 50px;
            }
            div:nth-child(3){
                top: 58px;
                left: 100px;
            }
            div:nth-child(4){
                top: 62px;
                left: 150px;
            }
            div:nth-child(5){
                top: 100px;
                left: 0;
            }
            div:nth-child(6){
                top: 120px;
                left: 0;
            }
            div:nth-child(7){
                top: 150px;
                left: 0;
            }
            div:nth-child(8){
                top: 165px;
                left: 15px;
            }
            div:nth-child(9){
                top: 225px;
                left: 0px;
            }
            div:nth-child(10){
                top: 165px;
                left: 50px;
            }
            div:nth-child(11){
                top: 170px;
                left: 95px;
            }
            div:nth-child(12){
                top: 249px;
                left: 38px;
            }
            div:nth-child(13){
                top: 255px;
                left: 75px;
            }
            div:nth-child(14){
                top: 275px;
                left: 100px;
            }
            div:nth-child(15){
                top: 280px;
                left: 130px;
            }
            div:nth-child(16){
                top: 275px;
                left: 40px;
                rotate: 90deg;
                video {
                    width: 100px !important;
                }
            }
            div:nth-child(17){
                top: 55px;
                left: 100px;
                rotate: 10deg;
                video {
                    width: 100px !important;
                }
            }
            div:nth-child(18){
                top: 200px;
                left: 50px;
                rotate: 0deg;
                video {
                    width: 140px !important;
                }
            }
            div:nth-child(19){
                top: 0px;
                left: 200px;
                rotate: 0deg;
                video {
                    width: 30px !important;
                }
            }
            div:nth-child(20){
                top: 50px;
                left: 100px;
                rotate: 0deg;
                video {
                    width: 80px !important;
                }
            }
            div:nth-child(21){
                top: -50px;
                left: -10px;
                rotate: 0deg;
                video {
                    width: 90px !important;
                }
            }
            div:nth-child(22){
                top: -50px;
                left: 100px;
                rotate: -34deg;
                video {
                    width: 70px !important;
                }
            }
            div:nth-child(23){
                top: 90px;
                left: -30px;
                rotate: -64deg;
                video {
                    width: 60px !important;
                }
            }
            div:nth-child(24){
                top: 180px;
                left: 280px;
                rotate: -180deg;
                video {
                    width: 150px !important;
                }
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
    .repeatedItem-3 {
        width: 190px;
        a {

            div:nth-child(1){
                top:40px;
                left:0

            }
            div:nth-child(2){

                top: 45px;
                left: 50px;
            }
            div:nth-child(3){

                top: 47px;
                left: 90px;
            }
            div:nth-child(4){
                top: 77px;
                left: 128px;
            

            }
            div:nth-child(5){
                top: 115px;
                left: 100px;
            
            }
            div:nth-child(6){
                top: 230px;
                left: 0;

            }
            div:nth-child(7){
                top: 70px;
                left: 0;

            }
            div:nth-child(8){
                top: 100px;
                left: 0;

            }
            div:nth-child(9){
                top: 130px;
                left: 0;
            }
            div:nth-child(10){
                top: 170px;
                left: 0;
            }
            div:nth-child(11){
                top: 200px;
                left: 0;

            }
            div:nth-child(12){
                left: 55px;
                top: 125px;

            }
            div:nth-child(13){
                left: 104px;
                top: 150px;

            }
            div:nth-child(14){
                top: 180px;
                left:150px;

            }
            div:nth-child(15){
                top: 204px;
                left: 170px;

            }
            div:nth-child(16){
                top: 275px;
                left: 40px;
                rotate: 68deg;
                video {
                    width: 100px !important;
                }
            }
            div:nth-child(17){
                top: 55px;
                left: 140px;
                rotate: 30deg;
                video {
                    width: 100px !important;
                }
            }
            div:nth-child(18){
                top: 200px;
                left: 50px;
                rotate: 0deg;
                video {
                    width: 120px !important;
                }
            }
            div:nth-child(19){
                top: 0px;
                left: 200px;
                rotate: 0deg;
                video {
                    width: 30px !important;
                }
            }
            div:nth-child(20){
                top: 50px;
                left: 100px;
                rotate: 30deg;
                video {
                    width: 80px !important;
                }
            }
            div:nth-child(21){
                top: -50px;
                left: -10px;
                rotate: 0deg;
                video {
                    width: 90px !important;
                }
            }
            div:nth-child(22){
                top: -50px;
                left: 100px;
                rotate: 14deg;
                video {
                    width: 70px !important;
                }
            }
            div:nth-child(23){
                top: 90px;
                left: -30px;
                rotate: -74deg;
                video {
                    width: 200px !important;
                }
            }
            div:nth-child(24){
                top: 180px;
                left: 280px;
                rotate: 180deg;
                video {
                    width: 150px !important;
                }
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
    .repeatedItem-4 {
        width: 190px;
        
        a {

            div:nth-child(1){
                top: 50px;
                left: 0;

            }
            div:nth-child(2){
                top: 50px;
                left: 45px;

            }
            div:nth-child(3){
                top: 50px;
                left: 95px;

            }
            div:nth-child(4){
                top: 50px;
                left: 145px;

            }
            div:nth-child(5){
                top: 75px;
                left: 5px;
            }
            div:nth-child(6){
                top: 105px;
                left: 10px;
            }
            div:nth-child(7){
                top: 135px;
                left: 15px;

            }
            div:nth-child(8){
                top: 175px;
                left: 20px;

            }
            div:nth-child(9){
                top: 200px;
                left: 25px;
  
            }
            div:nth-child(10){
                top: 230px;
                left: 30px;
            }
            div:nth-child(11){
                top:245px;
                left: 35px;
            }
            div:nth-child(12){
                top: 270px;
                left: 40px;
            }
            div:nth-child(13){
                top: 140px;
                left: 40px;
            }
            div:nth-child(14){
                top: 145px;
                left: 85px;
            }
            div:nth-child(15){
                top: 150px;
                left: 120px;
            }
            div:nth-child(16){
                top: 275px;
                left: 40px;
                rotate: 30deg;
                video {
                    width: 180px !important;
                }
            }
            div:nth-child(17){
                top: 55px;
                left: 100px;
                rotate: -30deg;
                video {
                    width: 120px !important;
                }
            }
            div:nth-child(18){
                top: 200px;
                left: 50px;
                rotate: 0deg;
                video {
                    width: 160px !important;
                }
            }
            div:nth-child(19){
                top: 0px;
                left: 200px;
                rotate: 50deg;
                video {
                    width: 30px !important;
                }
            }
            div:nth-child(20){
                top: 50px;
                left: 100px;
                rotate: 0deg;
                video {
                    width: 80px !important;
                }
            }
            div:nth-child(21){
                top: -50px;
                left: -10px;
                rotate: -8deg;
                video {
                    width: 90px !important;
                }
            }
            div:nth-child(22){
                top: -50px;
                left: 100px;
                rotate: 3deg;
                video {
                    width: 50px !important;
                }
            }
            div:nth-child(23){
                top: 90px;
                left: 0px;
                rotate: -84deg;
                video {
                    width: 100px !important;
                }
            }
            div:nth-child(24){
                top: 180px;
                left: 280px;
                rotate: 80deg;
                video {
                    width: 220px !important;
                }
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
    .repeatedItem-5 {
        width: 190px;
        a {

            div:nth-child(1){
                top: 100px;
                left: 0;
            }
            div:nth-child(2){
                top: 80px;
                left: 30px;
            }
            div:nth-child(3){
                top: 60px;
                left: 65px;
            }
            div:nth-child(4){
                top:   50px;
                left: 95px;

            }
            div:nth-child(5){
                top: 80px;
                left: 120px;
            }
            div:nth-child(6){
                top: 110px;
                left: 130px;
            }
            div:nth-child(7){
                top: 140px;
                left: 135px;
                }
            div:nth-child(8){
                top: 170px;
                left: 135px;
            }
            div:nth-child(9){
                top: 200px;
                left: 95px;
            }
            div:nth-child(10){
                top: 236px;
                left: 50px;
            }
            div:nth-child(11){
                top: 220px;
                left: 10px;
            }
            div:nth-child(12){
                top: 190px;
                left: 5px;
            }
            div:nth-child(13){  
                top: 160px;
                left: 0;
            }
            div:nth-child(14){
                top: 135px;
                left: 2px;
            }
            div:nth-child(15){
                top: 115px;  
                left: 0;
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
     .repeatedItem-6 {
      width: 190px;  
        a {

            div:nth-child(1){
                top:50px;
                left:0

            }
            div:nth-child(2){

                top: 55px;
                left: 50px;
            }
            div:nth-child(3){

                top: 57px;
                left: 90px;
            }
            div:nth-child(4){
                top: 87px;
                left: 128px;
            

            }
            div:nth-child(5){
                top: 115px;
                left: 100px;
            
            }
            div:nth-child(6){
                top: 240px;
                left: 0;

            }
            div:nth-child(7){
                top: 80px;
                left: 0;

            }
            div:nth-child(8){
                top: 110px;
                left: 0;

            }
            div:nth-child(9){
                top: 140px;
                left: 0;
            }
            div:nth-child(10){
                top: 170px;
                left: 0;
            }
            div:nth-child(11){
                top: 210px;
                left: 0;

            }
            div:nth-child(12){
                left: 65px;
                top: 125px;

            }
            div:nth-child(13){
                left: 114px;
                top: 150px;

            }
            div:nth-child(14){
                top: 190px;
                left:130px;

            }
            div:nth-child(15){
                top: 214px;
                left: 130px;

            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
    .repeatedItem-7 {
        width: 190px;
        
        a {

            div:nth-child(1){
                top: 100px;
                left: 0;

            }
            div:nth-child(2){
                top: 70px;
                left: 40px;
            }
            div:nth-child(3){
                top: 100px;
                left: 90px;
            }
            div:nth-child(4){
                top: 135px;
                left: 95px;
            }
            div:nth-child(5){
                top: 175px;
                left: 0px;
            }
            div:nth-child(6){
                top: 70px;
                left: 140px;
            }
            div:nth-child(7){
                top: 55px;
                left: 170px;
            }
            div:nth-child(8){
                top: 85px;
                left: 171px;
                }
            div:nth-child(9){
                top: 115px;
                left: 170px;
            }   
            div:nth-child(10){
                top: 145px;
                left: 171px;
            }
            div:nth-child(11){
                top: 175px;
                left: 170px;
            }
            div:nth-child(12){
                top: 210px;
                left: 170px;
            }
            div:nth-child(13){
                top: 85px;
                left: 0;
            }
            div:nth-child(14){
                top: 115px;
                left: 0;

            }
            div:nth-child(15){
                top: 145px;
                left: 0;
            }   
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
   
    .repeatedItem-8 {
        width: 190px;
        
        a {

            div:nth-child(1){
                top: 80px;
                left: 0;

            }
            div:nth-child(2){
                top: 110px;
                left: 0;
            }
            div:nth-child(3){
                top: 140px;
                left: 0;
            }
            div:nth-child(4){
                top: 175px;
                left: 0;
            }
            div:nth-child(5){
                top: 205px;
                left: 0;
            }
            div:nth-child(6){
                top: 245px;
                left: 0;
            }
            div:nth-child(7){
                top: 75px;
                left: 45px;
            }
            div:nth-child(8){
                top: 70px;
                left: 95px;
            }
            div:nth-child(9){
                top: 65px;
                left: 140px;
            }
            div:nth-child(10){
                top: 95px;
                left: 139px;
            }
            div:nth-child(11){
                top: 125px;
                left: 140px;
            }
            div:nth-child(12){
                top:155px;
                left: 139px;
            }
            div:nth-child(13){
                top: 185px;
                left: 139px;
            }
            div:nth-child(14){
                top: 165px;
                left: 50px;
            }
            div:nth-child(15){
                top: 165px;
                left: 100px;
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
    .repeatedItem-9 {
        width: 190px;
        
        a {

            div:nth-child(1){
                top: 180px;
                left: 0;

            }
            div:nth-child(2){
                top: 150px;
                left: 15px;
            }
            div:nth-child(3){
                top: 120px;
                left: 45px;
            }
            div:nth-child(4){
              top: 90px;
              left: 70px;
            }
            div:nth-child(5){
                top: 120px;
                left: 90px;
            }
            div:nth-child(6){
               top: 150px;
               left: 95px;
            }
            div:nth-child(7){
                top: 180px;
                left: 100px;
            }
            div:nth-child(8){
               top: 210px;
               left: 108px;
            }
            div:nth-child(9){
                left: 140px;
                top: 200px;
            }
            div:nth-child(10){
                left: 145px;
                top: 170px;
            }
            div:nth-child(11){
                top: 140px;
                left: 145px;
            }
            div:nth-child(12){
                top: 110px;
                left: 148px;
            }
            div:nth-child(13){
                top: 80px;
                left: 150px ;
            }
            div:nth-child(14){
                top: 50px;
                left: 150px;
            }
            div:nth-child(15){
                top: 210px;
                left: -10px;
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
    .repeatedItem-10 {
        width: 190px;
        
        a {

            div:nth-child(1){
                top: 90px;
                left: 0;

            }
            div:nth-child(2){
                top: 70px;
                left:30px;
            }
            div:nth-child(3){
                top: 50px;
                left: 60px;
            }
            div:nth-child(4){
                top: 60px;
                left: 90px;
            }
            div:nth-child(5){
                top:80px;
                left: 110px;
            }
            div:nth-child(6){
               top: 115px;
               left: 0;
            }
            div:nth-child(7){
                top: 140px;
                left: 0;
            }
            div:nth-child(8){
               top: 170px;
               left: 3px;
            }
            div:nth-child(9){
                top: 200px;
                left: 3px;
            }
            div:nth-child(10){
                top: 215px;
                left: 30px;
            }
            div:nth-child(11){
                top: 230px;
                left: 60px;
            }
            div:nth-child(12){
                top: 215px;
                left: 90px;
            }
            div:nth-child(13){
                top: 200px;
                left: 110px
            }
            div:nth-child(14){
                top: 190px;
                left: 110px;
            }
            div:nth-child(15){
                display: none;
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }
    .repeatedItem-11 {
        width: 190px;
        
        a {

            div:nth-child(1){
                top: 80px;
                left: 0;
            }
            div:nth-child(2){
                top: 82px;
                left: 45px;
            }
            div:nth-child(3){
                top: 83px;
                left: 90px;
            }
            div:nth-child(4){
                top: 85px;
                left: 130px;
            }
            div:nth-child(5){
                top: 110px;
                left: 0;
            }
            div:nth-child(6){
                top: 140px;
                left: 0;
            }
            div:nth-child(7){
                top: 170px;
                left: -1px;
            }
            div:nth-child(8){
               top: 200px;
               left: 0;
            }
            div:nth-child(9){
                top: 230px;
                left: 0;
            }
            div:nth-child(10){
                top: 260px;
                left: 0;
            }
            div:nth-child(11){
                top: 260px;
                left: 50px;
            }
            div:nth-child(12){
                top: 260px;
                left: 100px;
            }
            div:nth-child(13){
                top: 260px;
                left: 150px;
            }
            div:nth-child(14){
                top: 170px;
                left: 30px;
                // transform: rotate(90deg);
            }
            div:nth-child(15){
                top: 170px;
                left: 60px;
                // transform: rotate(90deg);
            }
        }

        video {
            width: 50px !important;
            height: fit-content;
        }

    }

}